#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	slack:
		access_token: 'xoxp-34986258439-35039689301-35800781524-d4f186f382'

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	router: App\RouterFactory::createRouter

	- App\Model\DbMessageStorage
	- App\Model\MessageGenerator
